* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    width: 100%;
    min-height: 100vh;
    background-color: white;
}

.book-wrapper {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
}

.book-content {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    position: relative;
    width: 100%;
    height: 100%;
    transition: 0.2s;
}

.book {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 0.3rem #00000040;
    transition: 0.5s;
    transform-style: preserve-3d;
    transform-origin: left;
}

.face-front,
.face-back {
    width: 100%;
    height: 100%;
    padding: 15px;
    background: white;
    overflow: hidden;
}

.face-front {
    box-shadow: inset 0 0 20px -7px black;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.face-back {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateZ(-1px) rotateY(180deg);
    box-shadow: inset 0 0 20px -7px black;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

#cover {
    background: url('../img/bookPortada.jpg');
}

#portada-back {
    background: url('../img/portadaBack.jpg');
}

#cover,
#portada-back {
    background-size: 100% 100%;
}

.trnsf {
    transform: translateX(50%);
}

.trnsf-reset {
    transform: translateX(0);
}

.trnsf-end {
    transform: translateX(100%);
}